@model practicemvc.Models.model1
@{
    ViewBag.Title = "Insert";
}

<h2>Insert</h2>
@using(Html.BeginForm())
            {

<table>
   
    <tr>
        <td>@Html.LabelFor(e => e.name)</td>
        <td>@Html.TextBoxFor(e => e.name)</td>
        <td>@Html.ValidationMessageFor(e => e.name)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(e => e.password)</td>
        <td>@Html.PasswordFor(e => e.password)</td>
        <td>@Html.ValidationMessageFor(e => e.password)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(e => e.address)</td>
        <td>@Html.TextBoxFor(e => e.address)</td>
        <td>@Html.ValidationMessageFor(e => e.address)</td>
    </tr> 
    <tr>
        <td><input type="submit" value="Insert" /></td>
    </tr>

</table>
            }
<p>@Html.ActionLink("Table Data", "Display")</p>
